*{
    box-sizing: border-box;
    
}

html{
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 50px 200px auto 50px;
}

body {     
    margin:0 ;
    padding:0 ; 
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: white; 
    border: 5px solid black;
    display: flex;
    flex-direction: column;
}


header{
    border: 4px solid lightseagreen;
}

main{
    border: 4px solid rgb(240, 10, 228);
}

footer{
    border: 4px solid rgb(32, 178, 69);
}

