*,::before,::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.anim{
    font-size: 33px;
    color : #ffbe00;
    margin: 0 auto;
    perspective: 380px;
    perspective-origin: bottom;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    transform: scaleY(0.9);
    animation: play 20s infinite;
}
p{
    padding: 0.5em 0;
}
@keyframes play{
    0%{
        transform: rotateX(21deg) translate3d(0, 100rem, 0) ;
        opacity: 1;
    }
    85%{
        opacity: 1;
    }
    100%{
        transform: rotateX(21deg) translate3d(0, -150rem, 0);
}